version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - backend/.env
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  redis:
    image: docker.io/bitnami/redis:7.2
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development
      # TODO: change no password
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - ./redis_data:/bitnami/redis/data
    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    env_file:
      - backend/.env
    depends_on:
      - db
      - redis
      - worker
    ports:
      - "9999:9999"
    volumes:
      - backend-static:/app/static

  worker:
    build:
      context: ./ml-backend
      dockerfile: Dockerfile
    # command: ["python3", "-m", "celery", "-A", "worker", "worker", "-l", "info", "--pool=eventlet", "-c", "5"]
    # restart: always
    volumes:
      - backend-static:/app/static
      - ml-predict:/app/runs
    depends_on:
      - redis

volumes:
  ml-predict:
  backend-static:
  redis_data:
    driver: local